body {
font-family: 'Inconsolata';
font-size: 22px;

padding: 0;
margin: 0;
background-color: rgb(44, 50, 60);
}

.w3-pale-purple {
background-color: #fad1ff;
color: black;
}

.w3-pale-orange {
background-color: #ffe7b5;
color: black;
}

.parallax {
background-image: url(https://i.ibb.co/MZ53ZYJ/table9.png);

height: 100vh;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.parallaxCenter {
color: white;
text-align: center;
font-size: 10vw;
line-height: 100vh;
}

.parallaxBar {
color: white;
position: absolute;
bottom: 10vh;
left: 0;
}

.smallText {
font-size: 16px;
color: white;
}

p {
font-family: Inconsolata;
}

.test {
color: red;
font-weight: bold;
}

table {
border: 1px solid black;
border-spacing: 3px;
padding: 2px;
text-align: center;
}